[user]
    name = datashaman
    email = marlinf@datashaman.com

    # name = Marlin Forbes
    # email = marlin.forbes@mrd.com

[alias]
    alias        = config --get-regexp ^alias\\.
    bgd          = !git branch -vv | grep ' gone' | cut -d' ' -f3 | xargs git branch -d
    bgD          = !git branch -vv | grep ' gone' | cut -d' ' -f3 | xargs git branch -D
    browse       = !hub browse
    bv           = !git branch --color -v
    bvv          = !git branch --color -vv
    cb           = !git-cut-branch
    ci           = commit
    cm           = checkout master
    compare      = !hub compare
    cp           = !git-cherry-pick
    create       = !sh -c 'git-checkout -b $1 origin/master' -
    fp           = format-patch --stdout
    grab         = !git-grab
    incoming     = !git-whatchanged ..origin
    in           = !git-whatchanged ..origin
    ll           = log --pretty=oneline --abbrev-commit --max-count=15 --decorate
    out          = !git-whatchanged origin..
    outgoing     = !git-whatchanged origin..
    pf           = push --force-with-lease
    pud          = push -u datashaman
    rim          = rebase -i origin/master
    rup          = remote update -p
    sa           = status -sb --ignore-submodules=untracked
    sh           = !git-sh
    s            = status -sb -uno --ignore-submodules=untracked
    st           = status
    thanks       = !git-thanks
    track        = !git-track
    w            = !hub browse
    wipc         = !date >> WIP && git add WIP && git commit -m ...
    wip          = !git add -u && git commit -m ...
    x            = checkout HEAD

[core]
    filemode = true
    logallrefupdates = true
    whitespace = trailing-space, tab-in-indent, tabwidth=4
	autocrlf = input
    # pager = diff-so-fancy | less --tabs=4 -RFX
	pager = less --tabs=4 -RFX

[apply]
    whitespace = error

[help]
    browser = open

[branch]
    autosetupmerge = true

[diff]
    renames = copies
    mnemonicprefix = true

[sendemail]
    smtpserver = smtp.gmail.com
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = marlinf@datashaman.com

[color]
	ui = true

[color "diff"]
	meta = 227
	frag = magenta bold
	old = red bold
	new = green bold
	commit = 227 bold
	whitespace = red reverse

[color "branch"]
    current = yellow reverse
    local = yellow bold
    remote = green bold
    plain = red bold

[color "status"]
    added = yellow
    changed = green bold
    untracked = blue bold

[push]
	default = current

[pull]
	default = matching

[web]
	browser = chromium-browser

[merge]
	tool = meld

[rebase]
    autoSquash = true
[rerere]
	enabled = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
